altgraph==0.17.2
asgiref==3.4.1
certifi==2021.10.8
charset-normalizer==2.0.9
Django==3.2.9
django-appconf==1.0.5
django-crispy-forms==1.13.0
django-geoip==0.5.2.1
django-user-accounts==3.1.0
djangorestframework==3.13.1
future==0.18.2
geographiclib==1.52
geopy==2.2.0
idna==3.3
magickwand==0.2
mysqlclient==2.1.0
numpy==1.22.2
opencv-python==4.5.5.62
pefile==2021.9.3
Pillow==9.0.1
pyinstaller==4.7
pyinstaller-hooks-contrib==2021.4
pytz==2021.3
pywin32-ctypes==0.2.0
requests==2.26.0
sorl-thumbnail==12.3
sqlparse==0.4.2
urllib3==1.26.7
Wand==0.6.7
whitenoise==5.3.0
