<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>TeamForce</title>
	<!-- FONTS -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
	<!-- STYLE -->
	<link rel="stylesheet" href="../../style/style.css">
	<link rel="stylesheet" href="../../style/fontsicon-style.css">
</head>
<body>
	<header>
		<div class="container">
			<div class="header__inner">
				<!-- MENU -->
				<nav class="menu">
					<a href="index.html" class="logo"><h1>BlueRabbit</h1></a>
				</nav>
				<!-- MENU -->

				<!-- USERFUll -->
				<div class="userfull">
					<ul>
						<li class="userfull__registration"><a href="registration.html">Присоедениться</a></li>
						<li class="userfull__login"><a href="index.html">Войти</a></li>
					</ul>
				</div>
				<!-- USERFUll -->
			</div>
		</div>
	</header>

	<div class="main">
		<!-- INTRO -->
		<section class="intro">
			<div class="container">
				<div class="intro__inner">
					<div class="intro__content">
						<div class="intro_text">Добро пожаловать<br>в сообщество специалистов!</div>

						<form action="#" class="intro__join form">
							<input type="text" placeholder="EMAIL ИЛИ НОМЕР ТЕЛЕФОНА" class="form__login">

							<input type="text" placeholder="ПАРОЛЬ" class="form__password">

							<a href="#" class="form__forgotPassword">Забыли пароль?</a>

							<button class="form__btn">ВОЙТИ</button>

							<a href="registration.html" class="form__btn"><span>ПРИСОЕДЕНИТЬСЯ</span></a>

							<ul class="form__socials socials">
								<li class="social"><button class="icon-linkend"></button></li>
								<li class="social"><button class="icon-twitter"></button></li>
								<li class="social"><button class="icon-vk"></button></li>
								<li class="social"><button class="icon-facebook"></button></li>
							</ul>
						</form>
					</div>
				</div>
			</div>
		</section>
		<!-- INTRO -->
	</div>

	<footer>
		<div class="container">
			<div class="footer__inner"></div>
		</div>
	</footer>
</body>
</html>